.flex-info{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    /* margin-right:1.5rem !important; */
    /* padding-left:3rem;
    padding-right:30rem; */
    padding:0.5rem 3rem;
    min-height:90vh;
    
   
}

.crypto-track-heading, .real-time-heading{
    font-size: 5rem;
    margin:0;
}

.crypto-track-heading{
    color: var(--white);
    -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color:var(--white);
}

.crypto-track-heading:hover{
    color:var(--black);
    -webkit-text-stroke-color:var(--white);
    transition: all 0.3s;

}

.real-time-heading{
    color:var(--blue);
}

.info-text{
    font-size:1rem;
    color:var(--grey);
}

.left-btn-div{
    display: flex;
    gap:1rem;
    justify-content:flex-start;
    align-items:center;
    margin-top:1.5rem;
    opacity: 1;
    transform: none;

}

.right-part{
    display:flex;
    justify-content: flex-end;
    margin-left:auto;
    position:relative;
    
  
    
}

.iphone-img{
    
    position:absolute;
    z-index:1;
    object-fit: contain;
    max-width:290px;
   
    
    
    
}

.gradient-img{
    position: absolute;
   max-width:250px;
  
   top:2rem;
  
   
    

    
   
}


@media only screen and (max-width: 1250px) {
    .crypto-track-heading, .real-time-heading{
        font-size: 5rem;
        margin:0;
    }

    
    .iphone-img{
        max-width:270px;
        padding-top:2rem;
    }
    .gradient-img{
        max-width:225px;
        padding-top:3rem;
    }
  }


  @media only screen and (max-width: 1039px){
    .crypto-track-heading, .real-time-heading{
        font-size: 4rem;
        margin:0;
    }

    .iphone-img{
        max-width:250px;
       
    }

    .gradient-img{
        max-width:200px;
       padding-top:4rem;
        
    }
  }

  @media only screen and (max-width:939px){
    .flex-info{
        flex-direction: column;
        align-items:center;
        justify-content: flex-start;
        
    }
    

    .crypto-track-heading, .real-time-heading{
        font-size: 3rem;
        margin:0;
    }
    .info-text{
        font-size:0.8rem;
        color:var(--grey);
    }

  .left-heading{
    width:100%;
    text-align:center;
  } 

  .left-btn-div{
    justify-content: center;
  }
   
  .right-part{
    
    justify-content: center;
   margin-right:auto;
    margin-top: 1rem;
   
  }

   .iphone-img{
    
   left:auto;
    right:auto;
   
   }
   .gradient-img{
    max-width:200px;
    top:1rem;
    padding-left:3rem;
}
   
  
  }

 
  
  
  
  @media only screen and (max-width: 380px) {
    .flex-info{
        height:120vh;
    }
   }
